*{
    box-sizing: border-box;
}
.container{
    background-color: aquamarine;
    height: 100vh;
}
.box{
    background-color: rgb(34, 115, 88);
    border: 2px solid;
    padding: 25px;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;

    min-height: 50%;
}