#box1{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 174, 255);
    position: sticky;
    top: 0px;
}
#box2{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 50px;
    left: 50px;
}