.gallery{
    display: inline-block;
    border: 1px solid rgb(177, 170, 170);
    margin: 5px;
    width: 200px;
}
.gallery .descrition{
    padding: 10px;
    text-align: center;
}
.gallery:hover{
    border: 1px solid rgb(91, 90, 90);
}
.gallery img{
    width: 100%;
    height: auto;
}