div{
    background-color: rgb(255, 0, 0);
    width: 100px;
    height: 100px;
    display: inline-block;
    visibility: hidden;
}
span{
    background-color:aqua;
    width: 100px;
    height: 100px;
    display: inline-block;
}